{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
    <h1>Liste Inscriptions</h1>

    <table class="table-fill">
        <thead>
            <tr>
                <th>N°</th>
                <th>Status</th>
                <th>Numéro de réservation</th>
                <th>Convocation</th>
                <th>Certificat</th>
                <th>Delai d' expiration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-hover">
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservations_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{{ reservation.status }}</td>
                <td>{{ reservation.numeroReservation }}</td>
                <td>{{ reservation.convocation }}</td>
                <td>{{ reservation.certificate }}</td>
                <td>{% if reservation.delaiExpiration %}{{ reservation.delaiExpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservations_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservations_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservations_new') }}">Creer une nouvelle Inscription</a>
        </li>
    </ul>
{% endblock %}
