<html>
<head>

    <link href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/attestation_presence_pdf.css')) }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="{{ absolute_url(asset('images/logo.jpg')) }}">
            </div>
        </div>
        <h1>Attestation de présence</h1>
        <P>Je soussigné Jocelyne PHILIPPEAU, Président de l'association FFSS : </P>
        <p class="adresse">Secouristes du Loiret<br/>
        15 Quai du Roi<br/>
        45000 ORLEANS</P>
        <p>atteste que :</p>
        {% for reservation in agenda.reservations %}
        <p class="eleve">{{ reservation.user.prenom }} {{ reservation.user.nom }}</p>
        {% endfor %}
        <p>a suivi l'ansemble de la Formation continue PSE1<br/>
        qui s'est déroulée à {{ agenda.adresse }} du {{ agenda.dateDeDebut | date('d/m/Y') }} au {{ agenda.dateDeFin
            | date
            ('d/m/Y') }}.</p>
        <p>Fait le {{ date ('d/m/Y') }}</p>
    </div>
</body>