<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="rights" content="FFSS 45 - Secouristes du Loiret - 1856-2014">
        <meta name="keywords" content="FFSS, FFSS45, Secouristes du Loiret, Secourisme, secourite, sauvetage, fédération, federation, française, francaise, PSC 1, PSE, PSC, DPS, dispositif, prévisionnel, secours, pompier, préfecture, loiret, région centre, orléans, st jean de la ruelle, orléans, la chapelle st mesmin, gien, piscine, aquatique, extincteur, formation, devenir, officiel, poste, secours, poste&nbsp;de&nbsp;secours">
        <meta name="description" content="FFSS 45 - Secourisme du Loiret - Fédération Française de Sauvetage et de Secourisme en Région Centre. Formations en Sauvetage et Secourisme pour le particulier et le professionnel.">
        <meta name="author" content="">
        <meta name="robots" content="index, follow">
        <meta name='revisit-after' content='1 month'>


        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css')}}" rel="stylesheet">


        {% block stylesheets %}

        {% endblock %}
        {% block js %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />


        <title>{% block title %}Admin{% endblock %}</title>

    </head>



    <body>

    <header>
        {% block header %}

        {% endblock %}
    </header>

        {% block body %}{% endblock %}

    {% block footer %}


    {% endblock %}


    </body>

    {% block javascripts %}

    {% endblock %}


</html>
