Bonjour {{ prenom }} {{ nom }},

Vous venez d'être inscrit à la formation  {{ formation.nomLong }} organisée par la FÉDÉRATION FRANÇAISE
DE SAUVETAGE ET DE SECOURISME du Loiret.

Votre identifiant est {{ username }} et votre mot de passe provisoire est {{ password }}.

Pour finaliser votre inscription, merci de compléter votre compte personnel en suivant ce lien :

Suivez ce lien {{ absolute_url(path('fos_user_profile_edit')) }} pour finaliser mon inscription</a>


Merci de votre confiance et à très bientôt. Les Secouristes du Loiret