{% trans_default_domain 'FOSUserBundle' %}

<center>
<div style="width: 35%; margin-top: 25px;">

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


 
                    {{form_label(form.email, 'email')}}
                    {{form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.email)}}

                    {{form_label(form.username, 'username')}}
                    {{form_widget(form.username, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.username)}}


                    {{form_label(form.nom, 'nom')}}
                    {{form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.nom)}}

                    {{form_label(form.prenom, 'prenom')}}
                    {{form_widget(form.prenom, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.prenom)}}

                    {{form_label(form.date_naissance, 'date de naissance')}}
                    {{form_widget(form.date_naissance, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.date_naissance)}}

                    {{form_label(form.lieu_naissance, 'lieu de naissance')}}
                    {{form_widget(form.lieu_naissance, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.lieu_naissance)}}

                    {{form_label(form.departement_naissance, 'departement de naissance')}}
                    {{form_widget(form.departement_naissance, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.departement_naissance)}}


                    {{form_label(form.adresse, 'adresse')}}
                    {{form_widget(form.adresse, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.adresse)}}

                    {{form_label(form.code_postal, 'code postal')}}
                    {{form_widget(form.code_postal, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.code_postal)}}

                    {{form_label(form.ville, 'ville')}}
                    {{form_widget(form.ville, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.ville)}}

                    {{form_label(form.tel, 'tel')}}
                    {{form_widget(form.tel, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.tel)}}

                    {{form_label(form.relation, 'Comment avez vous connu FFSS ?')}}
                    {{form_widget(form.relation, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.relation)}}


                    {{form_label(form.plainPassword, 'Mot de passe')}}<br />
					{{ form_widget (form.plainPassword.children['first'],  { 'attr': {'class': "span12",
        			'placeholder': "Mot de passe"} }) }}

					{{ form_widget (form.plainPassword.children['second'], { 'attr': {'class': "span12",
        			'placeholder': "Confimation mot de passe"} }) }}




</div>

<div style="padding-top: 15px;">
    <input style="margin-bottom: 45px;" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}

</center>
