{% extends 'base.html.twig' %}



{% block body %}

    <nav class="menu-left">

        <header>
            <img src="{{'images/logo2.png'}}" alt="logo FFSS45" class="logo_header"> {# logo n'apparaît pas#}

        </header>
        <ul>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Agenda</a></li>
            <li><a href="/admin/formation/index.html.twig"><span class="glyphicon glyphicon-tasks"></span> Formation</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Evènements</a></li>
        </ul>

    </nav>

    <div class="content-center">
        <header>
            <div class="top">
                <h1>La Fédération Française de Sécurité et de Secourisme 45</h1>
            </div>
            <div class="row use">   {# problème niveau width#}
                <div class="col-md-offset-1 col-md-1">
                    <a href="{{ path('agenda_new') }}"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
                <div class="col-md-offset-1 col-md-1">
                    <a href="#"><span class="glyphicon glyphicon-edit"></span></a></div> {# lien ne marche pas #}
                <div class="col-md-offset-1 col-md-1">
                    <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></div> {# lien ne marche pas #}
                <div class="col-md-offset-5 col-md-1">
                    <a href="#" data-title="Sign out"><i class="fa fa-sign-out"></i></a>
                </div>
            </div>
        </header>

        <div class="content-body">
                <div class="table-title">
                    <h2>Agenda list</h2>
                </div>
                <table class="table-fill">
                    <thead>
                    <tr>
                        <th class="text-left">Id</th>
                        <th class="text-left">Date/début</th>
                        <th class="text-left">Date/fin</th>
                        <th class="text-left">Heure/début AM</th>
                        <th class="text-left">Heure/fin AM</th>
                        <th class="text-left">Heure/début PM</th>
                        <th class="text-left">Heure/fin PM</th>
                        <th class="text-left">Adresse</th>
                        <th class="text-left">Formation</th>
                        <th class="text-left">Remarque</th>
                        <th class="text-left">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    {% for agenda in agendas %}
                        <tr>
                            <td class="text-left"><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.id }}</a></td>
                            <td class="text-left">{% if agenda.dateDeDebut %}{{ agenda.dateDeDebut|date('Y-m-d') }}{% endif %}</td>
                            <td class="text-left">{% if agenda.dateDeFin %}{{ agenda.dateDeFin|date('Y-m-d') }}{% endif %}</td>
                            <td class="text-left">{% if agenda.heureDeDebutAm %}{{ agenda.heureDeDebutAm|date('H:i:s') }}{% endif %}</td>
                            <td class="text-left">{% if agenda.heureDeFinAm %}{{ agenda.heureDeFinAm|date('H:i:s') }}{% endif %}</td>
                            <td class="text-left">{% if agenda.heureDeDebutPm %}{{ agenda.heureDeDebutPm|date('H:i:s') }}{% endif %}</td>
                            <td class="text-left">{% if agenda.heureDeFinPm %}{{ agenda.heureDeFinPm|date('H:i:s') }}{% endif %}</td>
                            <td class="text-left">{{ agenda.adresse }}</td>
                            <td class="text-left">{{ agenda.formation.nomCourt }}</td>
                            <td class="text-left">{{ agenda.remarque }}</td>
                            <td>
                                <a href="{{ path('agenda_show', { 'id': agenda.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{ path('agenda_edit', { 'id': agenda.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="content-footer"></div>
    </div>



    {% endblock %}
