{% extends '@Front/Default/frontLayout.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/presentation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/listFormation.css') }}">
{% endblock %}

{%  block body %}
    {% for category, tab in formations %}

        <h1 class="identity"><span class="glyphicon glyphicon-triangle-right"></span> {{ category }} </h1>


        <div class="row formation_row" >
            {%  for key,formation in tab %}
                <div class="col-lg-6 ">
                    <a href="{{ path('formation', {'nomCourt':formation.nomCourt}) }}">
                    <div style=" background-color:{{ formation.categorie.couleur }}" class="bloc_formation">
                        <h3 style="color:{{ formation.categorie.couleur }}">{{ formation.nomCourt }}</h3>
                        <h4>{{ formation.nomLong }}</h4>



                        <div  style=" background-color:{{ formation.categorie.couleur }}" class="bloc_formation bloc_formation_full hidden-xs">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <h3 >{{ formation.nomCourt }}</h3>
                                    <h4>{{ formation.nomLong }}</h4>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-10">
                                    <img class="img-responsive  photo_formation" src="{{ asset('upload/' ~ formation.photo) }}" alt=""/>
                                </div>
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <p class=""> {{ formation.descriptif }}</p>
                                </div>

                            </div>

                        </div>

                    </div>
                    </a>
                </div>



              {#  <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <a href="{{ path('formation', {'nomCourt':formation.nomCourt}) }}">
                    <div class="bloc_formation_mobil">
                        <h1>{{ formation.nomCourt }}</h1>
                        <h2>{{ formation.nomLong }}</h2>
                    </div>
                </a>
                </div>
				#}

            {% endfor %}
         </div>
    {% else %}
        Pas de categories
    {% endfor %}
{% endblock %}
