{% extends '@Front/Default/frontLayout.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/listFormation.css') }}">
{% endblock %}

{%  block body %}
    {% for category, tab in formations %}
        <div class="categorie">
            <h1>{{ category }}</h1>
        </div>

        <div class="row">
            {%  for key,formation in tab %}
                <div class="col-lg-6">
                    <div class="bloc_formation">
                        <h1>{{ formation.nomCourt }}</h1>
                        <p>{{ formation.nomLong }}</p>

                        <a href="#">
                        <div class="bloc_formation_full">
                            <h1>{{ formation.nomCourt }}</h1>
                            <p>{{ formation.nomLong }}</p>
                            <p> {{ formation.descriptif }}</p>
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
         </div>
    {% else %}
        Pas de categories
    {% endfor %}
{% endblock %}