{% set panier =  app.session.get('panier') %}
<div class="container" style="padding-left: 10%">

{% if panier[id]['inscrits'][key]['nom'] is defined %}
    {{ panier[id]['inscrits'][key]['nom'] }}
    <a href="{{ path('edit_inscrit', {'id':id, 'key':key} ) }}">edit</a>
</div>
{% else %}

    {{ form_start(form, {'attr':{'id':'valid_inscrit' ~  key }, 'action':path('add_inscrit', {'id':id, 'key':key})}) }}

        <table>

            <tr>
                <td ROWSPAN=2 style="padding-right: 10px;"><span style="color: #23527c;">Inscrit {{ key }}</span></td>
                <td>
                    {{form_label(form.nom, 'nom')}}
                    {{form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.nom)}}
                </td>
                <td>

                    {{form_label(form.prenom, 'prenom')}}
                    {{form_widget(form.prenom, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.prenom)}}
                </td>
                <td>
                    {{form_label(form.email, 'email')}}
                    {{form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.email)}}
                </td>


            </tr>

               <td>{% if key==1 %}
                        <a style="background-color: #FFCC06;" class="btn btn-warning" href="{{ path('user_inscrit', {'id':id} ) }}">Cette formation est pour moi</a>
                    {% endif %}
            </td>


        </table>



    {{ form_end(form) }}


{% endif %}