{% set panier =  app.session.get('panier') %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/addinscrit.css') }}">
{% endblock %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">

            <span class="inscritcolor">Inscrit {{ key }}</span>{% if key==1 %}
            <a class="btn btn-sm btn-warning" href="{{ path('user_inscrit', {'id':id} ) }}">Si cette formation est pour
                vous, cliquez ici</a><br />
            <i>Si cette formation n'est pas pour vous, veuillez remplir les champs ci-dessous</i>
            {% endif %}
        </div>
    </div>



            <div class="espace">

    {% if panier[id]['inscrits'][key]['nom'] is defined %}
     {{ panier[id]['inscrits'][key]['email'] }}

    <a class="btn btn-sm btn-info" href="{{ path('edit_inscrit', {'id':id, 'key':key} ) }}">Edit</a>
            </div>

    {% else %}

    {{ form_start(form, {'attr':{'id':'valid_inscrit' ~  key }, 'action':path('add_inscrit', {'id':id, 'key':key})}) }}

        <div class="col-sm-4">
            {{ form_widget(form.nom, {'attr':{'class':'form-control', 'placeholder': "Votre nom"}}) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="col-sm-4">
            {{ form_widget(form.prenom, {'attr':{'class':'form-control', 'placeholder': "Votre prenom"}}) }}
            {{ form_errors(form.prenom) }}
        </div>

        <div class="col-sm-4">
            {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder': "Votre email"}}) }}
            {{ form_errors(form.email) }}
        </div>

    {{ form_end(form) }}

{% endif %}
</div>