{% set panier =  app.session.get('panier') %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/addinscrit.css') }}">
{% endblock %}

        <div class="col-sm-12">


            {% if key==1 and panier[id]['inscrits'][1]['nom'] is not defined %}


                <p class="alert alert-info">Si cette formation est pour vous,  <a class="btn btn btn-info" href="{{ path('user_inscrit', {'id':id} ) }}">cliquez ici</a>
                    pour préremplir l'inscrit n°1</p>
            {#{% elseif key==2 %}#}
                {#<p  class="alert alert-warning" >Ces formations sont pour d'autres personnes, merci de remplir les champs ci-dessous, les inscrits recevront un email de confirmation</p>#}
            {% endif %}
            <span class="inscritcolor">Inscrit {{ key }}</span>

        </div>



{% if panier[id]['inscrits'][key]['nom'] is defined %}

            <div class="espace">

     {{ panier[id]['inscrits'][key]['email'] }}

    <a class="btn btn-sm btn-info" href="{{ path('edit_inscrit', {'id':id, 'key':key} ) }}">Edit</a>
            </div>

    {% else %}

    {{ form_start(form, {'attr':{'id':'valid_inscrit' ~  key }, 'action':path('add_inscrit', {'id':id, 'key':key})}) }}

        <div class="col-sm-4">
            {{ form_widget(form.nom, {'attr':{'class':'form-control', 'placeholder': "Votre nom"}}) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="col-sm-4">
            {{ form_widget(form.prenom, {'attr':{'class':'form-control', 'placeholder': "Votre prenom"}}) }}
            {{ form_errors(form.prenom) }}
        </div>

        <div class="col-sm-4">
            {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder': "Votre email"}}) }}
            {{ form_errors(form.email) }}
        </div>

    {{ form_end(form) }}

{% endif %}
