<div id="Formations" class="tab-pane fade" style="min-height: 350px">
    <h1>Liste des formations</h1><br/>

    {% if reservations %}
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>Nom de la formation</th>
                <th>Date début la formation</th>
                <th>Recyclage</th>
                <th>Statut</th>
                <th>Diplôme</th>
                <th>Categorie</th>
                <th>Convocation</th>
            </tr>
            </thead>


            {% for reservation in reservations %}
                {#{{ dump(formation) }}#}


                <tbody>
                <tr>
                    <td>{{ reservation.agenda.formation.nomLong }}</td>
                    <td>{{ reservation.agenda.dateDeDebut|date('d-m-Y') }}</td>
                    <td>{{ reservation.agenda.formation.recyclage }} Mois</td>
                   {# <td>{{ reservation.statusLabel }}</td> #}
                    <td><img style="width: 150px;" class="smallPic" src="{{ asset('upload/img/'~reservation.imageName) }}" alt="{{ reservation.titre }}"/></td>
                    <td>{{ reservation.agenda.formation.categorie.nomCategorie }}</td>
                    <td>
                        <a class="button" href="{{ path('convocation_pdf', {'id':reservation.agenda.id}) }}">
                            Télécharger la Convocation
                        </a>
                    </td>
                </tr>
                </tbody>


            {% endfor %}
        </table>
    {% else %}
        <p>Vous n'avez pas de formation</p>
    {% endif %}
</div>