{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
{% endblock %}

{% block body %}



<div class="container">
    <div class="row">
        <div class="span9">
            <h2>Votre panier</h2>
                <table class="table table-striped table-hover">

                    <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Date</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>{% for item in panier %}
                        <td>
                            {{ item.agenda.formation.nomlong }}
                        </td>
                        <td>{#Datedebute#}
                            Du {{ item.agenda.dateDeDebut |date('d-m-Y') }}  au   {{ item.agenda.dateDeFin |date('d-m-Y') }}
                        </td>
                        <td>{#quantité#}
                           {{ render(controller('CommerceBundle:Panier:quantityForm', {'id': item.agenda.id})) }}

                        </td>
                        <td>
                            {{ item.agenda.formation.prix }} €
                        </td>
                        <td>{#prix x quantité#}
                            {{ item.totalitem }} €
                        </td>
                        <td><a href="{{ path('remove', {'id': item.agenda.id}) }}">Sup</a>
                        </td>
                        <td>
                            {#{{ form_start(form) }}#}
                            {#{{ form_widget(form) }}#}
                            {#<input class="btn btn-success" type="submit" value="Créer" />#}
                            {#{{ form_end(form) }}#}
                        </td>
                    {#<tr>#}
                        {#<td>#}
                            {#{% for qte in qtes %}#}
                            {#{% set qt = qte %}#}
                            {#{% endfor %}#}
                            {#{% for i in 1..qte  %}#}
                            {#{{ i }}#}
                            {#{% endfor %}#}
                        {#</td>#}
                    {#</tr>#}

                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            <dl class="dl-horizontal pull-right">
                <dt>Total: {{ totalfinal }} € TTC</dt>
                <dd></dd>
            </dl>
            <div class="clearfix"></div>
            <a href="livraison.php" class="btn btn-success pull-right">Valider mon panier</a>
            <a href="{{path ('actualite_index')}}" class="btn btn-primary">Acheter d'autres formations</a>
        </div>
    </div>
</div>

<script>
    $('.mySelect').change(function() {
        $(this).parent('div').parent('form').submit();
    });
</script>

{% endblock %}


