

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
{% block contain %}
<body>
<div class="container">
    <div class="row">
        <div class="span9">
            <h2>Votre panier</h2>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Date</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                    </tr>
                    </thead>
                    <tbody>{% for item in panier %}
                    <tr>
                        <form  method="get">
                        <td>
                            {{ item.agenda.formation.nomlong }}
                        </td>
                        <td>{#Datedebute#}
                            Du {{ item.agenda.dateDeDebut |date('d-m-Y') }}  au   {{ item.agenda.dateDeFin |date('d-m-Y') }}
                        </td>
                        <td>{#quantité#}
                            <select name="qte" onChange="this.form.submit()">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}" {% if i == panier[item.agenda.formation.id ] %} selected="selected" {% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {{ item.agenda.formation.prix }} €
                        </td>
                        <td>{#prix total#}

                        </td> </form>

                    </tr> {% endfor %}
                    <tr>
                        <td><{#somme prix total #}/td>
                    </tr>

                    </tbody>
                </table>

            <dl class="dl-horizontal pull-right">
                <dt>Total:</dt>
                <dd>-€</dd>
            </dl>
            <div class="clearfix"></div>
            <a href="livraison.php" class="btn btn-success pull-right">Valider mon panier</a>
            <a href="{{path ('actualite_index')}}" class="btn btn-primary">Acheter d'autres formations</a>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>

