<html>
<head>

    <link href="{{ absolute_url(asset('css/bootstrap.min.css'))}}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/font-awesome.min.css'))}}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/presence_pdf.css'))}}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>

<body>
    <H2>FEUILLE D'EMARGEMENT</H2>
    <div class='line'></div>
    <br/>
    <p>Intitulé de la formation:..........................................................................................................</p>
    <p>Date[s] de la formation: du</p>
    <p>Durée de la formation:</p>
    <p>Horaires de la formation</p>
    <p>Lieu de la formation:...............................................................................................................</p>
    <p class="cachet">Cachet de l'organisme de formation:</p>

    <div class="container-fluid">
        <div class="row center-block">
            <div class="col-xs-12">

                <table class="table-fill table-striped table-hover" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        {#<th>Date de naissance</th>#}
                        <th>Adresse</th>
                        <th>Lieu de naissance</th>
                        <th>Departement de naissance</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Status</th>
                        <th>Numéro de réservation</th>
                        <th>Convocation</th>
                        <th>Certificat</th>
                        <th>Delai d' expiration</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                            <td><a href="{{ path('reservations_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                            <td> {{app.user.nom}}</td>
                            <td> {{app.user.prenom}}</td>
                            {#<td> {{app.user.dateNaissance}}</td>#}
                            <td> {{app.user.adresse}}</td>
                            <td> {{app.user.lieuNaissance}}</td>
                            <td> {{app.user.departementNaissance}}</td>
                            <td> {{app.user.CodePostal}}</td>
                            <td> {{app.user.ville}}</td>
                            <td> {{app.user.tel}}</td>
                            <td>{{ reservation.status }}</td>
                            <td>{{ reservation.numeroReservation }}</td>
                            <td>{{ reservation.convocation }}</td>
                            <td>{{ reservation.certificate }}</td>


                            <td>{% if reservation.delaiExpiration %}{{ reservation.delaiExpiration|date('Y-m-d H:i:s') }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</body>
</html>
