<html>
<head>

    <link href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/presence_pdf.css')) }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>

<body>
<H2>FEUILLE D'&Eacute;MARGEMENT</H2>
<div class='line'></div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7">
            <p>Intitulé de la formation : {{ agenda.formation.nomlong }}</p>
            <p>Date[s] de la formation : du {{ agenda.datededebut | date('d/m/Y') }} au {{ agenda.datedefin | date
                ('d/m/Y') }}</p>
            <p>Durée de la formation : {{ agenda.formation.dureeformation }}</p>
            <p>Horaires de la formation : de {{ agenda.heureDeDebutAm | date('H:i') }} à {{ agenda.heureDeFinAm | date('H:i')
                }} et de {{ agenda.heureDeDebutPm | date('H:i') }} à {{ agenda.heureDeFinPm | date('H:i') }}</p>
            <p>Lieu de la formation
                :...........................................................................................</p>
        </div>
        <div class="col-xs-5">
            <div class="cachet">
                <p class="italic">Cachet de l'organisme de formation :</p>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="container-fluid">
    <div class="row center-block">
        <div class="col-xs-12">

            <table class="table table-striped table-condensed table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="case" colspan="2"></th>
                        <th colspan="2">Date: {{ agenda.datededebut | date('d/m/Y') }}</th>
                        <th colspan="2">Date: {{ agenda.datededebut |date_modify("+1 day")| date('d/m/Y')  }}</th>
                        <th colspan="2">Date: {{ agenda.datededebut |date_modify("+2 day")| date('d/m/Y')  }}</th>
                    </tr>
                    <tr>
                        <th rowspan="2" colspan="2">Nom et prénom du (des) formateurs</th>
                        <th colspan="2">Signatures</th>
                        <th colspan="2">Signatures</th>
                        <th colspan="2">Signatures</th>
                    </tr>
                    <tr>
                        <th>Matin: {{ agenda.heureDeDebutAm | date('H:i') }}</th>
                        <th>Après-midi: {{ agenda.heureDeDebutPm | date('H:i') }}</th>
                        <th>Matin: {{ agenda.heureDeDebutAm | date('H:i') }}</th>
                        <th>Après-midi: {{ agenda.heureDeDebutPm | date('H:i') }}</th>
                        <th>Matin: {{ agenda.heureDeDebutAm | date('H:i') }}</th>
                        <th>Après-midi: {{ agenda.heureDeDebutPm | date('H:i') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>Entreprise</th>
                        <th>Stagiaire</th>
                        <th>Matin: {{ agenda.heureDeDebutAm | date('H:i') }}</th>
                        <th>Après-midi: {{ agenda.heureDeDebutPm | date('H:i') }}</th>
                        <th>Matin: {{ agenda.heureDeDebutAm | date('H:i') }}</th>
                        <th>Après-midi: {{ agenda.heureDeDebutPm | date('H:i') }}</th>
                        <th>Matin: {{ agenda.heureDeDebutAm | date('H:i') }}</th>
                        <th>Après-midi: {{ agenda.heureDeDebutPm | date('H:i') }}</th>
                    </tr>
                {% for reservation in agenda.reservations %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{ reservation.user.nom|upper }} {{ reservation.user.prenom }}</td>
                        {% for i in 0..5 %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
