{% extends 'FrontBundle:Default:frontLayout.html.twig' %}

{% block stylesheet %}
    {{ parent }}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}


    <div class="container page">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Profil">Profil</a></li>
                    <li><a data-toggle="tab" href="#Formations">Formations</a></li>
                    <li><a data-toggle="tab" href="#Poste_Secours">Poste de Secours</a></li>

                </ul>
                <div class="tab-content">
                    <div id="Profil" class="tab-pane fade in active">
                        <div class="page">
                            {#<div class="info">#}
                            <h1> Page utilisateur</h1>

                                <p>Vous êtes un :
                                    <div class="row">
                                            {% if is_granted('ROLE_ADMIN') %}
                                        <div class="col-xs-6">
                                            <b>Admin</b>
                                        </div>
                                            <div class="col-xs-6">
                                                <a href="{{ path('admin') }}"><i class="fa fa-lock" aria-hidden="true"></i></a>
                                            </div>
                                            {% endif %}

                                            {% if is_granted('ROLE_USER') %}
                                                <b>client</b>
                                            {% endif %}
                                    </div>
                                <p>Vos Informations</p>

                                <ul>
                                    <li>Indentifiant : {{app.user.id}}</li>
                                    <li>Pseudo : {{app.user.username}}</li>
                                    <li>Nom : {{app.user.nom}}</li>
                                    <li>Prénom : {{app.user.prenom}}</li>
                                    <li>Adresse : {{app.user.adresse}}</li>
                                   {# <li>age : {{app.user.age}}</li>#}
                                    <li>Code Postal : {{app.user.codepostal}}</li>
                                    <li>Ville : {{app.user.ville}}</li>
                                    <li>Tel : {{app.user.tel}}</li>
                                    <li>Mail : {{app.user.email}}</li>
                                    <li>Comment avez vous connu l'association FFSS : {{app.user.relation}}</li>
                                </ul>





                                <p><a href="{{ path('fos_user_security_logout') }}">se déconnecter</a> </p>
                                <p><a href="{{ path('fos_user_profile_edit') }}">Modifier ses informations</a> </p>
                        </div>
                    </div>
                    <div id="Formations" class="tab-pane fade">
                        {% if formations %}
                            {% for formation in formations %}
                            {#{{ dump(formation) }}#}
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Nom de la formation</th>
                                            <th>Date début la formation</th>
                                            {#<th>Diplome</th>#}
                                            <th>Categorie</th>
                                        </tr>
                                        <tr>
                                            <td>{{ formation.formation.nomLong }}</td>
                                            <td>{% if formation.dateDeDebut %}{{ formation.dateDeDebut|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ formation.formation.categorie.nomCategorie}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        {% else %}
                            <p>Vous n'avez pas de formation</p>
                        {% endif %}
                    </div>
                    <div id="Poste_Secours" class="tab-pane fade">
                        {% if formulaireSecours %}
                            {% for formulaireSecour in formulaireSecours %}
                                <table>
                                    <tbody>

                                        <tr>
                                            <th>Nom de la manifestation</th>
                                            <th>Date début manif</th>
                                            <th>Date fin manif</th>
                                            <th>Prix de la prestation</th>

                                        </tr>
                                        <tr>
                                            <td>{{ formulaireSecour.nomManif }}</td>
                                            <td>{% if formulaireSecour.dateDebutManif %}{{ formulaireSecour.dateDebutManif|date('d-m-Y') }}{% endif %}</td>
                                            <td>{% if formulaireSecour.dateFinManif %}{{ formulaireSecour.dateFinManif|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ formulaireSecour.devis }}€</td>
                                            <td><a class="btn btn-primary" href="#">Payer la prestation</a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            {% endfor %}
                        {% else %}
                            <p>Vous n'avez pas de demande de poste de secours</p>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}