{% extends 'FrontBundle:Default:frontLayout.html.twig' %}

{% block stylesheet %}
    {{ parent }}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}


    <div class="container page">
        <div class="row">
            <div class="col-xs-12"><br/>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Profil">Profil</a></li>
                    <li><a data-toggle="tab" href="#Formations">Formations</a></li>
                    <li><a data-toggle="tab" href="#Poste_Secours">Poste de Secours</a></li>

                </ul>
                <div class="tab-content">
                    <div id="Profil" class="tab-pane fade in active" style="min-height: 350px">
                        <div class="page">
                            {#<div class="info">#}

                            <h1> Espace Client</h1>
                            <div class="row">
                                {% if is_granted('ROLE_ADMIN') %}

                                    <div class="col-xs-6">
                                        <p>Se rendre dans l'espace Administration : <a href="{{ path('admin') }}"><i
                                                        class="fa fa-lock"
                                                        aria-hidden="true"></i></a></p>
                                    </div>
                                {% endif %}

                                {% if is_granted('ROLE_USER') %}

                                {% endif %}
                            </div>
                            <p>Vos Informations</p>
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Pseudo</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Adresse</th>
                                        {# <th>age : {{app.user.age}}</th>#}
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Tel</th>
                                        <th>Mail</th>
                                        <th>Comment avez vous connu l'association FFSS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ app.user.username }}</td>
                                        <td>{{ app.user.nom }}</td>
                                        <td>{{ app.user.prenom }}</td>
                                        <td>{{ app.user.adresse }}</td>
                                        <td>{{ app.user.codepostal }}</td>
                                        <td>{{ app.user.ville }}</td>
                                        <td>{{ app.user.tel }}</td>
                                        <td>{{ app.user.email }}</td>
                                        <td>{{ app.user.relation }}</td>
                                    </tr>
                                </tbody>
                            </table>


                            {#<p><a href="{{ path('fos_user_security_logout') }}">se déconnecter</a> </p>#}
                            <p><a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Modifier mes
                                    informations</a></p>
                        </div>
                    </div>

                    <div id="Formations" class="tab-pane fade" style="min-height: 350px">
                        <h1>Liste des formations</h1><br/>
                        {% if formations %}
                            <table class="table table-bordered table-hover table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nom de la formation</th>
                                        <th>Date début la formation</th>
                                        <th>Statut</th>
                                        <th>Diplôme</th>
                                        <th>Categorie</th>
                                        <th>Convocation</th>
                                    </tr>
                                </thead>


                                {% for reservation in reservations %}
                                    {#{{ dump(formation) }}#}


                                    <tbody>
                                        <tr>
                                            <td>{{ reservation.agenda.formation.formation.nomLong }}</td>
                                            <td>{% if reservation.agenda.dateDeDebut %}{{ reservation.agenda.dateDeDebut|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ reservation.statusLabel }}</td>
                                            <td><img class="smallPic" src="{{ asset('upload/img/'~reservation.imageName)
                                                }}"
                                                     alt="{{ reservation.titre }}"/></td>
                                            <td>{{ reservation.agenda.formation.categorie.nomCategorie }}</td>
                                            <td>
                                                <a class="button" href="{{ path('convocation_pdf', {'id':agenda.id}) }}">
                                                    Convocation
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>


                                {% endfor %}
                            </table>
                        {% else %}
                            <p>Vous n'avez pas de formation</p>
                        {% endif %}
                    </div>
                    <div id="Poste_Secours" class="tab-pane fade" style="min-height: 350px">
                        <h1>Liste des postes de secours</h1><br/>
                        {% if formulaireSecours %}
                            {% for formulaireSecour in formulaireSecours %}
                                <table class="table table-bordered table-hover table-striped table-condensed">
                                    <tbody>

                                        <tr>
                                            <th>Nom de la manifestation</th>
                                            <th>Date début manif</th>
                                            <th>Date fin manif</th>
                                            <th>Prix de la prestation</th>
                                        </tr>
                                        <tr>
                                            <td>{{ formulaireSecour.nomManif }}</td>
                                            <td>{% if formulaireSecour.dateDebutManif %}{{ formulaireSecour.dateDebutManif|date('d-m-Y') }}{% endif %}</td>
                                            <td>{% if formulaireSecour.dateFinManif %}{{ formulaireSecour.dateFinManif|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ formulaireSecour.devis }}€</td>
                                            <td><a class="btn btn-primary" href="#">Payer la prestation</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            {% endfor %}
                        {% else %}
                            <p>Vous n'avez pas de demande de poste de secours</p>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}