{% extends 'AdminBundle::adminLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Editer une Inscription</h1>
<div class="container">
    <div class="row">

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.status) }}
        {{ form_row(edit_form.numeroReservation) }}
        {{ form_row(edit_form.convocation) }}
        {{ form_row(edit_form.certificate) }}
        {{ form_row(edit_form.delaiExpiration) }}
        {#{{ form_row(edit_form.image) }}#}
        {#<td><img class="imgInscription" src="{{ asset(webPath) }}" alt="{{ alt }}"/></td><br/>#}

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('reservation_agenda_index', { 'id': reservation.agenda.id }) }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
