{% extends 'AdminBundle::adminLayout.html.twig' %}
{% block body %}
    <h1>Liste des Inscriptions</h1>
    <div class="container-fluid">
        <div class="row center-block">
            <div class="col-xs-12">

                <table class="table-fill table-striped table-hover table-condensed table"
                       style="width: 100%; text-align: center;">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Adresse</th>
                        <th>Lieu de naissance</th>
                        <th>Departement de naissance</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Status</th>
                        <th>Numéro de réservation</th>
                        <th>Carte d'identité</th>
                        <th>Delai d' expiration</th>
                        <th>Diplôme</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    {% if agenda.reservations is defined %}
                        {% for reservation in agenda.reservations %}
                            <tr>
                                <td>
                                    <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a>
                                </td>
                                <td> {{ reservation.user.nom }}</td>
                                <td> {{ reservation.user.prenom }}</td>
                                <td> {{ user.dateNaissance|date('d-m-Y') }}</td>
                                <td> {{ reservation.user.adresse }}</td>
                                <td> {{ reservation.user.lieuNaissance }}</td>
                                <td> {{ reservation.user.departementNaissance }}</td>
                                <td> {{ reservation.user.CodePostal }}</td>
                                <td> {{ reservation.user.ville }}</td>
                                <td> {{ reservation.user.tel }}</td>
                                <td>{{ reservation.statusLabel }}</td>
                                <td>{{ reservation.numeroReservation }}</td>
                                <td>{% if reservation.user.imageName %}<img style="width: 75px;" class="smallPic" src="{{ asset('upload/identite/'~reservation.user.imageName) }}" alt="{{ user.titre }}"/>{% endif %}</td>
                                <td>{% if reservation.delaiExpiration %}{{ reservation.delaiExpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if reservation.imageName %}<img style="width: 75px;" class="smallPic" src="{{ asset('upload/diplome/'~reservation.imageName) }}" alt="{{ img.titre }}"/>{% endif %}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                                        </li>
                                        <li>
                                            <a class="button"
                                               href="{{ path('attestation_presence_pdf', {'id':agenda.id}) }}">Attestation
                                                de présence</a>
                                        </li>
                                        <li>
                                            <a class="button"
                                               href="{{ path('convocation_pdf', {'id':agenda.id}) }}">Convocation</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        Pas de reservation pour cet agenda
                    {% endif %}
                    </tbody>
                </table>


                <div class="row">
                    <div class="col-xs-6">

                        <a class="btn btn-primary" href="{{ path('reservation_new', { 'id': agenda.id }) }}">Créer
                            une nouvelle
                            Inscription</a>

                    </div>
                    <div class="col-xs-2 col-xs-offset-4">

                        <a class="btn btn-primary" href="{{ path('presence_pdf', {'id':agenda.id}) }}">Feuille
                            d'émargement</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
