{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    <div class="container">
        <div class="row">


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reservation.status }}</td>
            </tr>
            <tr>
                <th>Numberreservation</th>
                <td>{{ reservation.numeroReservation }}</td>
            </tr>
            <tr>
                <th>Convocation</th>
                <td>{{ reservation.convocation }}</td>
            </tr>
            <tr>
                <th>Certificate</th>
                <td>{{ reservation.certificate }}</td>
            </tr>
            <tr>
                <th>Delaiexpiration</th>
                <td>{% if reservation.delaiExpiration %}{{ reservation.delaiExpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="imgInscription" src="{{ asset(webPath) }}" alt="{{ alt }}"/></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


    </div>
    </div>
{% endblock %}
