{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    <div class="container">
        <div class="row">


            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ reservation.id }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ reservation.status }}</td>
                    </tr>
                    <tr>
                        <th>Convocation</th>
                        <td>{{ reservation.convocation }}</td>
                    </tr>
                    <tr>
                        <th>Certificate</th>
                        <td>{{ reservation.certificate }}</td>
                    </tr>
                    <tr>
                        <th>Delaiexpiration</th>
                        <td>{% if reservation.delaiExpiration %}{{ reservation.delaiExpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    {#<tr>#}
                        {#<th>Image</th>#}
                        {#<td><img class="imgInscription" src="{{ asset(webPath) }}" alt="{{ alt }}"/></td>#}
                    {#</tr>#}
                </tbody>
            </table>

        <div class="col-xs-4">
            <a class="btn btn-primary" href="{{ path('reservation_agenda_index', { 'id': reservation.agenda.id }) }}">Retour à la
                liste</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-success" href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Editer</a>
        </div>
        <div class="col-xs-4">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>


    </div>
    </div>
{% endblock %}
