{% extends 'FrontBundle:Default:frontLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formations.css')}}" rel="stylesheet">
{% endblock %}



{% block body %}

     <div class="container-fluid page {{ formation.categorie.nomCategorie }}">
         <div class="row">
            <div class="col-md-12">
                <h1 class="page-title"><strong>{{ formation.nomLong }}</strong><span class="nomCourt"> - {{ formation.nomCourt }}</span></h1>
				<a class="btn  btn-info pull-right" href="{{ path('formation_pdf', {'id':formation.id}) }}">Download PDF</a>
            </div>
        </div>

        <main>
            <div class="row box">
                <div class="col-md-6">
                    <h2>Public Visé</h2>
                    <p>{{ formation.publicVise }}</p>
                </div>
                <div class="col-md-6">
                    <h2>Objectif Visé</h2>
                    <p>{{ formation.objectifVise }}</p>
                </div>
            </div>

                 <input id="tab1" type="radio" name="tabs" checked>
                 <label for="tab1"><i class="fa fa-refresh fa-2x"></i><h3>Actualisation</h3></label>

                 <input id="tab2" type="radio" name="tabs">
                 <label for="tab2"><i class="fa fa-check fa-2x"></i><h3>Validation de la formation </h3></label>

                 <input id="tab3" type="radio" name="tabs">
                 <label for="tab3"><i class="fa fa-hourglass-o fa-2x"></i><h3>Durée</h3></label>

                 <input id="tab4" type="radio" name="tabs">
                 <label for="tab4"><i class="fa fa-list fa-2x" ></i><h3>Contenu de la formation</h3></label>

                 <input id="tab5" type="radio" name="tabs">
                 <label for="tab5"><i class="fa fa-user fa-2x" ></i><h3>Méthode pédagogique</h3></label>

                 <section id="content1">
                     <p>{{ formation.objectifVise }}</p>
                 </section>

                 <section id="content2">
                     <p>{{ formation.validation }}</p>
                 </section>

                 <section id="content3">
                     <p>{{ formation.dureeFormation }}</p>
                 </section>

                 <section id="content4">
                     <p>{{ formation.contenuFormation }}</p>
                 </section>
                <section id="content5">
                    <p>{{ formation.methodePedagogique }}</p>
                </section>
        </main>

        <div class="container">
            <h2 class="text-left agenda"><span >Agenda</span></h2>
            <table class="container">
                <thead>
                <tr>
                    <th><h4>Date de début</h4></th>
                    <th><h4>Date de fin</h4></th>
                    <th><h4>Heure de début AM</h4></th>
                    <th><h4>Heure de fin PM</h4></th>
                    <th><h4>Heure de début PM</h4></th>
                    <th><h4>Heure de fin PM</h4></th>
                    <th><h4>Adresse</h4></th>
                    <th><h4>Remarque</h4></th>
                </tr>
                </thead>
                <tbody>
                    {% for agenda in formation.agendas %}
                        <tr>
                            <td>{{ agenda.dateDeDebut|date('d-m-Y') }}</td>
                            <td>{{ agenda.dateDeFin |date('d-m-Y')}}</td>
                            <td>{{ agenda.heureDeDebutAm |date('H:i')}}</td>
                            <td>{{ agenda.heureDeFinAm |date('H:i')}}</td>
                            <td>{{ agenda.heureDeDebutPm |date('H:i')}}</td>
                            <td>{{ agenda.heureDeFinPm |date('H:i')}}</td>
                            <td>{{ agenda.adresse }}</td>
                            <td>{{ agenda.remarque }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="button" href="{{ path('page_accueil_principale') }}#formulaire_contact"><span>Je m'inscris !</span></a>


        </div>

     </div>
{% endblock %}



{% block javascript %}
    <script>

    </script>
{% endblock %}
