<html>
<head>

    <link href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/font-awesome.min.css'))}}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/formation_pdf.css')) }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>
<body>
<div class="container-fluid">
    <img class="navbar-fixed-top logo-pdf" src="{{ absolute_url(asset('images/logo2.png')) }}" alt="Logo FFSS45">
    <div {{ formation.categorie.nomCategorie }}">
    <h1 style="background-color:{{ formation.categorie.couleur }}"><strong>{{ formation.nomLong }}</strong><span
                class="text-right nomCourt"> - {{ formation.nomCourt }}</span></h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Public Visé</h2>
        <p>{{ formation.publicVise }}</p>
    </div>
    <div class="col-md-6">
        <h2>Objectif Visé</h2>
        <p>{{ formation.objectifVise }}</p>
    </div>
</div>

<h3>Actualisation</h3>
<p><span style="color:{{ formation.categorie.couleur }}"
         class="glyphicon glyphicon-chevron-right"></span>{{ formation.actualisation }}</p>

<h3>Validation de la formation </h3>
<p><span style="color:{{ formation.categorie.couleur }}"
         class="glyphicon glyphicon-chevron-right"></span>{{ formation.validation }}</p>
<h3>Durée</h3>
<p><span style="color:{{ formation.categorie.couleur }}"
         class="glyphicon glyphicon-chevron-right"></span>{{ formation.dureeFormation }}</p>
<h3>Contenu de la formation</h3>
<p><span style="color:{{ formation.categorie.couleur }}"
         class="glyphicon glyphicon-chevron-right"></span>{{ formation.contenuFormation }}</p>
<h3>Méthode pédagogique</h3>
<p><span style="color:{{ formation.categorie.couleur }}"
         class="glyphicon glyphicon-chevron-right"></span>{{ formation.methodePedagogique }}</p>


<h2><span>Agenda</span></h2>
<table class="table table-condensed table-striped">
    <thead>
        <tr style="background-color:{{ formation.categorie.couleur }}">
            <th>Date de début2</th>
            <th>Date de fin</th>
            <th>Horaire matin </th>
            <th>Horaire après-midi</th>
            <th>Adresse</th>
            <th>Remarque</th>
        </tr>
    </thead>
    <tbody>
        {% for agenda in formation.agendas %}
            <tr>
                <td>{{ agenda.dateDeDebut|date('d-m-Y') }}</td>
                <td>{{ agenda.dateDeFin |date('d-m-Y') }}</td>
                <td>{{ agenda.heureDeDebutAm |date('H:i') }} - {{ agenda.heureDeFinAm |date('H:i') }}</td>
                <td>{{ agenda.heureDeDebutPm |date('H:i') }} - {{ agenda.heureDeFinPm |date('H:i') }}</td>
                <td>{{ agenda.adresse }}</td>
                <td>{{ agenda.remarque }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
