 <div class="container-fluid">
  <div class="row-fluid">
      <div class="hidden-xs" id="test">
          <a href="{{ path('page_accueil_principale') }}"><img class="img-responsive center-block" src="{{ asset('images/ff.png') }}" alt=""></a>
      </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-static firstnav">
    
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse js-navbar-collapse">
        <ul class="nav navbar-nav ">
            <li class="dropdown dropdown-large">
                <a href="{{ path('page_accueil_principale') }}">Accueil</a>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Particuliers<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                  {{ render(controller('AdminBundle:Nav:navParticulier')) }}
                </ul>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Professionnels<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                   {{ render(controller('AdminBundle:Nav:navPro')) }}
                </ul>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Poste de secours<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-6">
                        <ul>
                            <li class="dropdown-header">Notre expertise</li>
                            <li><a href="#">En apprendre plus</a></li>
                            <li class="divider"></li>
                            <li><img class="img-responsive" src="{{ asset('images/Secouristes_ffss45_petit.JPG') }}"/></li>
                        </ul>
                    </li>
                    <li class="col-sm-6">
                        <ul>
                            <li class="dropdown-header"><a href="{{path('formulaire') }}">Demander une prestation</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large">
                <a href="{{ path('page_accueil_principale') }}#formulaire_contact">Contact</a>
            </li>
            <li class="dropdown dropdown-large">
                <a href="{{ path('page_rejoindre') }}" class="joinButton">Rejoignez nous</a>
            </li>
        </ul>
        </div>
    </div><!-- /.nav-collapse -->
</nav>
