 <div class="container-fluid">
  <div class="row-fluid">
      <div class="banner hidden-xs" id="test">
          <a href="{{ path('page_accueil_principale') }}"><img class="img-responsive" src="{{ asset('images/bannière_site2_FFSS45.jpg') }}" alt=""></a>
          <h1 class="titre_de_la_pageAcceuil">FÉDÉRATION FRANÇAISE </br> DE SAUVETAGE ET DE SECOURISME</h1>


          <h2 class="sous_titre_de_la_pageAcceuil"> <span class="glyphicon glyphicon-carree"> </span>  SECOURISTES DU LOIRET  <span class="glyphicon glyphicon-carree"></span></h2>
      </div>
  </div>
</div>
<nav class="navbar navbar-default firstnav">

    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse js-navbar-collapse">
        <ul class="nav navbar-nav ">
            <li class="dropdown dropdown-large">
                <a class="glyphicon glyphicon-home" href="{{ path('page_accueil_principale') }}"></a>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Particuliers<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                 {{ render(controller('AdminBundle:Nav:navParticulier')) }}
                </ul>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Professionnels<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                {{ render(controller('AdminBundle:Nav:navPro')) }}
                </ul>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Poste de secours<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-6">
                        <ul>
                            <li class="dropdown-header">Notre expertise</li>
                            <li><a href="{{ path('secoursCivil') }}">En apprendre plus</a></li>
                            <li class="divider"></li>
                            <li><img class="img-responsive" src="{{ asset('images/Secouristes_ffss45_petit.JPG') }}"/></li>
                        </ul>
                    </li>
                    <li class="col-sm-6">
                        <ul>
                            <li class="dropdown-header"><a href="{{path('formulaire') }}">Demander une prestation</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large">
                <a href="{{ path('page_accueil_principale') }}#formulaire_contact">Contact</a>
            </li>
        </ul>
        <ul class="joinButton nav navbar-nav navbar-right">



                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}" class="log" ><b>{{ app.user.username }}</b></a>
                            </li>

                            <li>
                                 <a class="joinButton_link glyphicon glyphicon-log-out" href="{{ path('fos_user_security_logout') }}"></a>
                            </li>

                        {% else %}
                        <li>
                            <a class="joinButton_link" href="{{ path('fos_user_security_login') }}">Connexion / Inscription</a>
                        </li>
                        {% endif %}


            <li>
                <a class="joinButton_link" href="{{ path('page_rejoindre') }}">Rejoignez nous</a>
			</li>
            <li>
                {% set nb_panier = app.session.get('panier')|length %}
                <a class="dropdown dropdown-large" href="{{ path('panier') }}"> <span class=" glyphicon glyphicon-shopping-cart"></span> <span class="badge">{{ nb_panier|default(0) }}</span></a>
			</li>
        <ul>
    </div>
    <!-- /.nav-collapse -->
</nav>
