{% extends '@Front/Default/frontLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualites.css') }}">
{% block title %}Actualités{% endblock %}
{% endblock %}
{% block body %}
    <h1>Actualités de l'association</h1>
    {% for actualite in actualites %}
        <div class="container-fluid actualites">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ actualite.titre }}</h2>
                </div>
                <div class="col-xs-12">
                    <img src="{{ asset('upload/' ~ actualite.image) }}" alt="" class="img-responsive">
                </div>
                <div class="col-xs-offset-2 col-xs-8">
                    <p>{{ actualite.contenu }}</p><br>
                </div>
                <div class="col-xs-offset-2 col-xs-2">
                    <p>{{ actualite.auteur }}</p>
                </div>
                <div class="col-xs-offset-4 col-xs-2">
                    <p>{{ actualite.date|date('d-m-Y') }}</p>
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}