{% extends '@Front/Default/frontLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualites.css') }}">
{% block title %}Actualités{% endblock %}
{% endblock %}
{% block body %}
    <h1>Actualités de l'association</h1>
    {% for actualite in actualites %}
        <div class="container-fluid actualites">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-9">
                    <h2>{{ actualite.titre }}</h2>
                </div>
                <div class="col-xs-offset-1 col-xs-4">
                    <p>{{ actualite.contenu }}</p><br>
                    <p>{{ actualite.auteur }}{{ actualite.date|date('d-m-Y') }}</p>
                </div>
                <div class="col-xs-offset-1 col-xs-5">
                    <img src="{{ asset('upload/' ~ actualite.image) }}" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}