<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/navbar.css')}}" rel="stylesheet">
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css')}}" rel="stylesheet">

  {% block stylesheets %}

    <link href="{{ asset('css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet">
    <link href="{{ asset('css/espaces.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/presentation.css') }}" rel="stylesheet">

  {% endblock %}

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <title>Fédération de Secourisme du Loiret</title>
</head>


<body>

<header>
    {% block header %}
        {% include 'FrontBundle:Default:header.html.twig' %}
    {% endblock %}
</header>


{% block body %}


{% endblock %}

<footer>
    {% block footer %}
        {% include 'FrontBundle:Default:footer.html.twig' %}
    {% endblock %}
</footer>
</body>
</html>