{% block stylesheets %}

        <link href="{{ asset('css/espaces.css')}}" rel="stylesheet">
{% endblock %}

<div class="container-fluid">
    <div class="col-md-12">
        <h1 class="identity"><span class="glyphicon glyphicon-triangle-right"></span>Accédez à nos espaces</h1>
    </div>
    <div class="row row-centered">
        <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
            <figure class="snip1279">
                <img class="img-center" src="{{ asset('images/particulier.png') }}" alt="image espace particulier"/>
                <figcaption>
                    <h2>Accès</h2>
                    <p>à votre demande de formation </p>
                </figcaption>
                <a href="{{ path('espace_formation',{'typeFormation':'particulier'}) }}"></a>
            </figure>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
            <figure class="snip1279">
                <img class="img-center" src="{{ asset('images/pro.png') }}" alt="image espace professionnel"/>
                <figcaption>
                    <h2>Accès</h2>
                    <p>à votre demande de formation </p>
                </figcaption>
                <a href="{{ path('espace_formation',{'typeFormation':'professionnel'}) }}"></a>
            </figure>
        </div>
        <div class="col-md-4  col-sm-12 col-xs-12 col-centered">
            <figure class="snip1279">
                <img class="img-center" src="{{ asset('images/secours.png') }}" alt="image espace poste de secours"/>
                <figcaption>
                    <h2>“ Vous organisez un évènement?</h2>
                    <p>Demandez un dispositif de secours ”</p>
                </figcaption>
                <a href="{{ path('formulaire') }}"></a>
            </figure>
        </div>
    </div>
</div>














{% block javascript %}
<script>
    /* Demo purposes only */
    $(".hover").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
    );
</script>
{% endblock %}