{% block stylesheets %}
        <link href="{{ asset('css/espaces.css')}}" rel="stylesheet">
{% endblock %}
<div class="col-md-12">
    <h2 class="identity"><span class="glyphicon glyphicon-triangle-right"></span>Accédez à nos espaces</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
            <figure class="snip1279">
                <img class="center-block" src="{{ asset('images/particulier.png') }}" alt="image espace particulier"/>
                <figcaption>
                    <h3>Accès</h3>
                    <p>à votre demande de formation </p>
                </figcaption>
                <a href="{{ path('espace_formation',{'typeFormation':'particulier'}) }}"></a>
            </figure>
        </div>
        <div class=" col-md-4 col-sm-6 col-xs-12 col-centered">
            <figure class="snip1279">
                <img class="center-block" src="{{ asset('images/pro.png') }}" alt="image espace professionnel"/>
                <figcaption>
                    <h3>Accès</h3>
                    <p>à votre demande de formation </p>
                </figcaption>
                <a href="{{ path('espace_formation',{'typeFormation':'professionnel'}) }}"></a>
            </figure>
        </div>
        <div class="col-md-4  col-xs-12 col-centered">
            <figure class="snip1279">
                <img class="center-block" src="{{ asset('images/secours.png') }}" alt="image espace poste de secours"/>
                <figcaption>
                    <h3>“ Vous organisez un évènement? ”</h3>
                    <p>Demandez un dispositif de secours</p>
                </figcaption>
                <a href="{{ path('formulaire') }}"></a>
            </figure>
        </div>
    </div>
</div>


{% block javascript %}
<script>
    /* Demo purposes only */
    $(".hover").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
    );
</script>
{% endblock %}