{% extends 'AdminBundle::adminLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="container-fluid edit-formation">
    <h1>Mise à jour de la formation {{ formation.nomCourt }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {% if img  %}
            <img class="image_upload img-responsive" src="{{ asset('/upload/' ~ img) }}"/>
        {% endif %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <input class="btn btn-info  btn-lg btn-block" type="submit" value="Editer" />
            </div>
        </div>
    {{ form_end(edit_form) }}



            {{ form_start(delete_form) }}

        <input class="btn btn-danger pull-right" type="submit" value="Supprimer"
                {% if formation.agendas|length %}
                    disabled="disabled"
                {% endif %}
        >
            {{ form_end(delete_form) }}
        <a class="btn btn-primary btn-sm" href="{{ path('formation_index') }}">Retour aux formations</a>

</div>
{% endblock %}
