{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Liste des formations
    </h1>
    <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>Nom court</th>
                <th>Catégorie</th>
                <th>Couleur</th>
                <th>Agendas</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_edit', { 'id': formation.id }) }}">{{ formation.nomCourt }}</a></td>
                <td>{{ formation.categorie.nomCategorie }}</td>
                <td>{{ formation.categorie.couleur }}</td>
                <td>
                    <a href="{{ path('formation_agendas', { 'id': formation.id }) }}"><i title="agendas" class="fa fa-calendar fa-lg"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success  " href="{{ path('formation_new') }}"><i class="fa fa-plus"></i> Create a new entry</a>


</div>
{% endblock %}
