{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <h1>Formation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nomlong</th>
                <td>{{ formation.nomLong }}</td>
            </tr>
            <tr>
                <th>Nomcourt</th>
                <td>{{ formation.nomCourt }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ formation.categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ formation.descriptif }}</td>
            </tr>
        </tbody>
    </table>
        <div class="pull-right">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

        </div>

            <a class="btn btn-info" href="{{ path('formation_edit', { 'id': formation.id }) }}">Edit</a>
    <hr/>
    <a class="btn btn-primary" href="{{ path('formation_index') }}">Back to the list</a>
    </div>
{% endblock %}
