{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Liste des catégories</h1>

    <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Couleur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>{{ categorie.couleur }}</td>
                <td>
                   {#<a href="{{ path('categorie_show', { 'id': categorie.id }) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>#}
                    <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-success  " href="{{ path('categorie_new') }}"><i class="fa fa-plus"></i>  Création</a>

{% endblock %}



