{% if actualites %}

{% for actualite in actualites %}
    <li>{{ actualite.titre}} {{ actualite.contenu }} <img src="{{ asset('upload/' ~ actualite.image) }} " class="img-responsive" alt=""/>
        {{ actualite.date|date("m/d/Y") }} <a href="{{ path('delete_actu', {'id':actualite.id}) }}">delete</a></li>
{% endfor %}

{% endif %}