{% extends 'AdminBundle::adminLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Mise à jour demande de Poste de Secours</h1>
    <h2>{{ formulaireSecours.nomManif }} du {{ formulaireSecours.dateDebutManif | date('d m Y') }} </h2>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.devis) }}
        {{ form_row(edit_form.statut) }}
        {{ form_row(edit_form.message) }}
    <div class="hidden">
        {{ form_widget(edit_form) }}
    </div>
        <input type="submit" value="Mettre à jour" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('formulairesecours_show', { 'id': formulaireSecour.id }) }}">Detail de la demande</a>
        </li>
        <li>
            <a href="{{ path('admin') }}">Retour</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
