{% extends 'AdminBundle::adminLayout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des demandes de Poste de Secours</h1>

        <table class="table table-hover table-condensed table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la manifestation</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for formulaireSecour in formulaireSecours %}
                <tr>
                    <td><a href="{{ path('formulairesecours_show', { 'id': formulaireSecour.id }) }}">{{ formulaireSecour.id }}</a></td>
                    <td>{{ formulaireSecour.nomManif }}</td>
                    <td>
                        {% if formulaireSecour.statut is not null %}
                        {{ formulaireSecour.statutLabel }}
                            {% else %}
                            <span class="label label-danger">Devis à préparer</span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('formulairesecours_show', { 'id': formulaireSecour.id }) }}">voir</a>
                            </li>
                            <li>
                                <a href="{{ path('formulairesecours_edit', { 'id': formulaireSecour.id }) }}">éditer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
