{% extends 'AdminBundle::adminLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminSecours.css') }}">

{% endblock %}
{% block body %}
    <div class="container secours">
        <div class="form-group row">
            <a class=" btn btn-primary btn-lg" href="{{ path('formulaire_pdf', {'id':formulaireSecour.id}) }}">Télécharger le PDF</a>
            {% include 'FrontBundle:PosteSecours:posteSecoursContent.html.twig' %}

            <a class="btn btn-info" href="{{ path('formulairesecours_edit', { 'id': formulaireSecour.id }) }}">Editer</a>
            <a class="btn btn-primary" href="{{ path('formulairesecours_index') }}">Retour à la liste</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

        </div>
    </div>




{% endblock %}
