{% extends 'AdminBundle::adminLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminSecours.css') }}">

{% endblock %}
{% block body %}
    <div class="container secours">
        <div class="form-group row">

            <h1>Demande de Poste de Secours</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ formulaireSecour.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom de la manifestation</th>
                        <td>{{ formulaireSecour.nomManif }}</td>
                    </tr>
                    <tr>
                        <th>Presentation brève de la manif</th>
                        <td>{{ formulaireSecour.presentationManif }}</td>
                    </tr>
                    <tr>
                        <th>Date début manif</th>
                        <td>{% if formulaireSecour.dateDebutManif %}{{ formulaireSecour.dateDebutManif|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date fin manif</th>
                        <td>{% if formulaireSecour.dateFinManif %}{{ formulaireSecour.dateFinManif|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Heure début manif</th>
                        <td>{% if formulaireSecour.heureDebutManif %}{{ formulaireSecour.heureDebutManif|date('H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Heure fin manif</th>
                        <td>{% if formulaireSecour.heureFinManif %}{{ formulaireSecour.heureFinManif|date('H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Adresse manif</th>
                        <td>{{ formulaireSecour.adresseManif }}</td>
                    </tr>
                    <tr>
                        <th>Ville manif</th>
                        <td>{{ formulaireSecour.villeManif }}</td>
                    </tr>
                    <tr>
                        <th>Adresse pompiers les + proches</th>
                        <td>{{ formulaireSecour.pompiersLieu }}</td>
                    </tr>
                    <tr>
                        <th>Adresse urgences les + proches</th>
                        <td>{{ formulaireSecour.urgencesLieu }}</td>
                    </tr>
                    <tr>
                        <th>Raison sociale</th>
                        <td>{{ formulaireSecour.raisonSociale }}</td>
                    </tr>
                    <tr>
                        <th>Nom représentant</th>
                        <td>{{ formulaireSecour.nomRep }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone représentant</th>
                        <td>{{ formulaireSecour.telRep }}</td>
                    </tr>
                    <tr>
                        <th>Mail représentant</th>
                        <td>{{ formulaireSecour.mailRep }}</td>
                    </tr>
                    <tr>
                        <th>Nom chef de projet</th>
                        <td>{{ formulaireSecour.nomChef }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone chef de projet</th>
                        <td>{{ formulaireSecour.telChef }}</td>
                    </tr>
                    <tr>
                        <th>Mail chef de projet</th>
                        <td>{{ formulaireSecour.mailChef }}</td>
                    </tr>
                    <tr>
                        <th>Site web</th>
                        <td>{{ formulaireSecour.siteWeb }}</td>
                    </tr>
                    <tr>
                        <th>Type de manifestation</th>
                        <td>{{ formulaireSecour.typeManif }}</td>
                    </tr>
                    <tr>
                        <th>Federation sportive</th>
                        <td>{{ formulaireSecour.federation }}</td>
                    </tr>
                    <tr>
                        <th>Obligations réglementaires fédération</th>
                        <td>{{ formulaireSecour.regleFed }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de sportifs</th>
                        <td>{{ formulaireSecour.nbSportifs }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de public en instantané</th>
                        <td>{{ formulaireSecour.nbPublicInsta }}</td>
                    </tr>
                    <tr>
                        <th>les sportifs sont licenciés ?</th>
                        <td>{{ formulaireSecour.licenceSportif }}</td>
                    </tr>
                    <tr>
                        <th>Certificat médical ?</th>
                        <td>{{ formulaireSecour.certifMedical }}</td>
                    </tr>
                    <tr>
                        <th>Type évènement sportif</th>
                        <td>{{ formulaireSecour.typeEvtSportif }}</td>
                    </tr>
                    <tr>
                        <th>Type de course</th>
                        <td>{{ formulaireSecour.typeCourse }}</td>
                    </tr>
                    <tr>
                        <th>Distance parcours 1</th>
                        <td>{{ formulaireSecour.distParcours1 }}</td>
                    </tr>
                    <tr>
                        <th>Distance parcours 2</th>
                        <td>{{ formulaireSecour.distParcours2 }}</td>
                    </tr>
                    <tr>
                        <th>Présence obstacles ?</th>
                        <td>{{ formulaireSecour.obstacles }}</td>
                    </tr>
                    <tr>
                        <th>Présence de signaleur</th>
                        <td>{{ formulaireSecour.signaleur }}</td>
                    </tr>
                    <tr>
                        <th>Type de piste</th>
                        <td>{{ formulaireSecour.typePiste }}</td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ formulaireSecour.commentaire }}</td>
                    </tr>
                    <tr>
                        <th>Type de sport collectif</th>
                        <td>{{ formulaireSecour.typeSportCo }}</td>
                    </tr>
                    <tr>
                        <th>Niveau de competition</th>
                        <td>{{ formulaireSecour.niveauCompet }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de terrains</th>
                        <td>{{ formulaireSecour.nbTerrains }}</td>
                    </tr>
                    <tr>
                        <th>Catégorie de sportif</th>
                        <td>{{ formulaireSecour.catSportif }}</td>
                    </tr>
                    <tr>
                        <th>Type de sport individuel</th>
                        <td>{{ formulaireSecour.typeSportIndiv }}</td>
                    </tr>
                    <tr>
                        <th>Type de sport mécanique</th>
                        <td>{{ formulaireSecour.typeSportMeca }}</td>
                    </tr>
                    <tr>
                        <th>Présence de commissaire ?</th>
                        <td>{{ formulaireSecour.commissaire }}</td>
                    </tr>
                    <tr>
                        <th>Protection du public prévue ?</th>
                        <td>{{ formulaireSecour.protection }}</td>
                    </tr>
                    <tr>
                        <th>Type de sport aquatique</th>
                        <td>{{ formulaireSecour.typeSportAqua }}</td>
                    </tr>
                    <tr>
                        <th>Présence dispositif de sécurité ?</th>
                        <td>{{ formulaireSecour.dispositifSecu }}</td>
                    </tr>
                    <tr>
                        <th>Type de plan d'eau</th>
                        <td>{{ formulaireSecour.typePlanEau }}</td>
                    </tr>
                    <tr>
                        <th>Type de sport équestre</th>
                        <td>{{ formulaireSecour.typeSportEquestre }}</td>
                    </tr>
                    <tr>
                        <th>Type de sport autre</th>
                        <td>{{ formulaireSecour.typeSportAutre }}</td>
                    </tr>
                    <tr>
                        <th>Age des sportifs</th>
                        <td>{{ formulaireSecour.ageSportif }}</td>
                    </tr>
                    <tr>
                        <th>Type évènement culturel</th>
                        <td>{{ formulaireSecour.typeEvtCulturel }}</td>
                    </tr>
                    <tr>
                        <th>Evènement gratuit ou payant</th>
                        <td>{{ formulaireSecour.prixEvt }}</td>
                    </tr>
                    <tr>
                        <th>Intérieur ou extérieur</th>
                        <td>{{ formulaireSecour.evtIntExt }}</td>
                    </tr>
                    <tr>
                        <th>Type de salle</th>
                        <td>{{ formulaireSecour.typeSalle }}</td>
                    </tr>
                    <tr>
                        <th>Type de site</th>
                        <td>{{ formulaireSecour.typeSite }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de personnes au total</th>
                        <td>{{ formulaireSecour.nbPersoTotal }}</td>
                    </tr>
                    <tr>
                        <th>Type de siege</th>
                        <td>{{ formulaireSecour.typeSiege }}</td>
                    </tr>
                    <tr>
                        <th>Type de public</th>
                        <td>{{ formulaireSecour.typePublic }}</td>
                    </tr>
                    <tr>
                        <th>Capacite du site</th>
                        <td>{{ formulaireSecour.capaciteSite }}</td>
                    </tr>
                    <tr>
                        <th>Superficie du site</th>
                        <td>{{ formulaireSecour.superficieSite }}</td>
                    </tr>
                    <tr>
                        <th>Nombre d'acces</th>
                        <td>{{ formulaireSecour.nbAcces }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de scènes</th>
                        <td>{{ formulaireSecour.nbScene }}</td>
                    </tr>
                    <tr>
                        <th>Scènes jouent en simultané ?</th>
                        <td>{{ formulaireSecour.simulScene }}</td>
                    </tr>
                    <tr>
                        <th>Aménagements temporaires</th>
                        <td>{{ formulaireSecour.amenagTemp }}</td>
                    </tr>
                    <tr>
                        <th>Type de rassemblement de personnes</th>
                        <td>{{ formulaireSecour.typeRdP }}</td>
                    </tr>
                    <tr>
                        <th>Animations</th>
                        <td>{{ formulaireSecour.animation }}</td>
                    </tr>
                    <tr>
                        <th>Le public assiste</th>
                        <td>{{ formulaireSecour.mvtPublic }}</td>
                    </tr>
                    <tr>
                        <th>Présence de médecin souhaitée ?</th>
                        <td>{{ formulaireSecour.medecin }}</td>
                    </tr>
                    <tr>
                        <th>Nom de votre médecin</th>
                        <td>{{ formulaireSecour.nomMed }}</td>
                    </tr>
                    <tr>
                        <th>Spécialité de votre médecin</th>
                        <td>{{ formulaireSecour.speMed }}</td>
                    </tr>
                    <tr>
                        <th>Contact de votre médecin</th>
                        <td>{{ formulaireSecour.contactMed }}</td>
                    </tr>
                    <tr>
                        <th>Prénom de votre médecin</th>
                        <td>{{ formulaireSecour.prenomMed }}</td>
                    </tr>
                    <tr>
                        <th>Pièce prévue pour le poste de secours</th>
                        <td>{{ formulaireSecour.pieceSecours }}</td>
                    </tr>
                    <tr>
                        <th>Repas pris en charge pour les secours</th>
                        <td>{{ formulaireSecour.repasSecours }}</td>
                    </tr>
                    <tr>
                        <th>Souhaitez vous une prestation médicale ?</th>
                        <td>{{ formulaireSecour.prestaMed }}</td>
                    </tr>
                    <tr>
                        <th>Ligne téléphonique disponible sur le site ?</th>
                        <td>{{ formulaireSecour.telSite }}</td>
                    </tr>
                    <tr>
                        <th>Moyen de communication pour joindre secours</th>
                        <td>{{ formulaireSecour.communicationSecours }}</td>
                    </tr>
                    <tr>
                        <th>Autres secours présents</th>
                        <td>{{ formulaireSecour.autresSecours }}</td>
                    </tr>
                    <tr>
                        <th>Infos complémentaires</th>
                        <td>{{ formulaireSecour.infosCompl }}</td>
                    </tr>
                    <tr>
                        <th>Devis</th>
                        <td>{{ formulaireSecour.devis }}</td>
                    </tr>
                    <tr>
                        <th>Image 1</th>
                        {#<td><img src="{{ vich_uploader_asset(demande.imageName, 'image') }}" alt="{{ demande.imageName }}" /></td>#}
                        <td><img style="width: 175px;" src="{{ asset('/upload/img/' ~ app.demande.imageName) }}"  /></td>
                    </tr>
                    <tr>
                        <th>Image 2</th>
                        <td><img style="width: 175px;" src="{{ asset('/upload/img/' ~ formulaireSecours.imageName2) }}"  /></td>
                    </tr>
                    <tr>
                        <th>Image 3</th>
                        <td><img style="width: 175px;" src="{{ asset('/upload/img/' ~ formulaireSecours.imageName3) }}"  /></td>
                    </tr>
                    <tr>
                        <th>Image 4</th>
                        <td><img style="width: 175px;" src="{{ asset('/upload/img/' ~ formulaireSecours.imageName4) }}"  /></td>
                    </tr>
                    <tr>
                        <th>Image 5</th>
                        <td><img style="width: 175px;" src="{{ asset('/upload/img/' ~ formulaireSecours.imageName5) }}"  /></td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('formulairesecours_index') }}">Retour à la liste</a>
                </li>
                <li>
                    <a href="{{ path('formulairesecours_edit', { 'id': formulaireSecour.id }) }}">Editer</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>




{% endblock %}
