{% extends 'AdminBundle::adminLayout.html.twig' %}
{% block body %}

    <div class="container">
        <h1>Liste des paiements en attente
        </h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.waitingPayment) }}
                    {{ form_widget(form.waitingPayment, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.input) }}
                    {{ form_widget(form.input, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="submit" value="Filtrer" class="btn btn-primary"/>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

        <table class="table table-hover table-condensed table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Numero Commande</th>
                <th>Statut</th>
                <th>Type paiement</th>
                <th>Utilisateur</th>
                <th>Prix</th>
                <th>Infos</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    <td>
                        <span class="label label-default">
                        {% if payment.posteDeSecours %}
                            Poste secours
                        {% else %}
                            Formation
                        {% endif %}
                        </span>
                    </td>
                    <td>
                        {{ payment.numeroReservation }}
                    </td>
                    <td>
                        {% if payment.paid %}
                            Payé
                        {% else %}
                            En attente de paiement
                        {% endif %}
                    </td>
                    <td>{{ payment.type }}</td>
                    <td>{{ payment.user.prenom }} {{ payment.user.nom }}</td>
                    <td>{{ payment.price }}€</td>
                    <td>{{ payment.information }}</td>
                    <td>
                        {% if payment.paid  is null %}

                            <a class="btn btn-success" href="{{ path('payment_validation', { 'id': payment.id }) }}">Valider
                                le paiement</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
