{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organisme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organisme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organisme.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ organisme.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ organisme.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ organisme.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ organisme.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ organisme.mail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organisme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('organisme_edit', { 'id': organisme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
